In [1]:
import os
from pathlib import Path

In [9]:
import pandas as pd

In [4]:
p = Path.cwd().parent / 'data' / 'raw' / 'elspot-prices_2000-2020_monthly_eur'

'elspot-prices_2000-2020_monthly_eur'

In [50]:
df = pd.read_html('../data/raw/elspot-prices_2000-2020_monthly_eur/elspot-prices_2020_monthly_eur.xls', decimal=',', thousands='.')

In [52]:
df[0].columns = df[0].columns.get_level_values(2)

In [53]:
df[0]

,Unnamed: 0_level_2,SYS,SE1,SE2,SE3,SE4,FI,DK1,DK2,Oslo,...,AT,AT.1,BE,BE.1,DE-LU,DE-LU.1,FR,FR.1,NL,NL.1
0,20 - Jan,24.10,23.26,23.26,23.73,26.39,27.16,24.99,27.39,24.63,...,NaN,40.70,NaN,37.88,NaN,35.03,NaN,38.01,NaN,37.10
1,20 - Feb,13.08,14.39,14.39,18.39,18.56,24.43,17.59,18.82,12.46,...,NaN,29.11,NaN,28.35,NaN,21.92,NaN,26.25,NaN,29.56
2,20 - Mar,9.01,9.01,9.01,13.84,15.97,20.38,18.26,20.01,8.05,...,NaN,24.60,NaN,24.02,NaN,22.49,NaN,23.83,NaN,24.74
3,20 - Apr,5.26,5.13,5.13,9.00,13.74,19.82,14.53,17.35,4.69,...,NaN,18.31,NaN,14.72,NaN,17.09,NaN,13.45,NaN,19.01
4,20 - May,8.34,9.50,9.50,12.74,14.03,19.46,16.05,19.04,7.19,...,NaN,17.52,NaN,15.39,NaN,17.60,NaN,14.86,NaN,17.65
5,20 - Jun,3.15,9.87,9.87,23.73,24.21,28.26,26.28,29.82,1.46,...,NaN,26.54,NaN,25.56,NaN,26.18,NaN,25.79,NaN,26.23
6,20 - Jul,2.35,8.50,8.50,8.92,22.86,20.21,24.62,25.89,1.41,...,NaN,32.30,NaN,29.84,NaN,30.06,NaN,33.41,NaN,29.35
7,20 - Aug,8.79,17.50,17.51,33.66,40.41,40.55,34.54,40.92,3.69,...,NaN,35.96,NaN,35.54,NaN,34.86,NaN,36.75,NaN,34.02
8,20 - Sep,15.73,30.11,30.11,33.49,35.65,37.83,38.54,39.51,9.58,...,NaN,45.55,NaN,44.23,NaN,43.69,NaN,47.20,NaN,42.62
9,20 - Oct,14.63,20.60,20.60,22.12,26.27,31.08,25.75,26.86,13.15,...,NaN,35.51,NaN,39.39,NaN,33.97,NaN,37.89,NaN,37.11
10,20 - Nov,6.32,6.47,6.47,23.64,34.60,27.62,23.75,35.71,4.64,...,41.16,NaN,39.92,NaN,38.79,NaN,40.11,NaN,41.04,NaN
11,20 - Dec,20.09,18.09,18.09,30.96,37.32,39.25,34.51,39.26,20.18,...,50.17,NaN,47.38,NaN,43.52,NaN,48.42,NaN,48.26,NaN

In [7]:
for f in p.glob('**/*'):
    if f.is_file():
        print(f)

C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2000_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2001_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2002_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2003_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2005_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2006_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2007_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2008_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2009_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2010_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2011_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2012_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2013_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2013_weekly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2014_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2015_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2016_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2017_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2019_monthly_eur.xls
C:\Users\tommy\OneDrive\Documents\Water\water_value_analysis\data\raw\elspot-prices_2000-2020_monthly_eur\elspot-prices_2020_monthly_eur.xls